[Package]
version: 4
depends: 

[Product]
type: localboot
id: dfn_sumatra
name: Sumatra PDF
description: Alternativer Betrachter für PDF und weitere Formate (u.a. ePub); leichtgewichtig und schnell
advice: 
version: 3.1.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: install_architecture
multivalue: True
editable: False
description: Betriebssystem-Architektur 32/64 Bit
values: ["32 only", "64 only", "system specific"]
default: ["system specific"]

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_sumatra (3.1.2-4)
	* neues o4i-Logo
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 17.10.2018

dfn_sumatra (3.1.2-3)
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
	* neue Registrysuche (https://github.com/opsi4instituts/lib, winst-Version 4.12.0.16 Voraussetzung)
	* Destkopicon -> Desktoplink (gem. o4i-Richtlinie)
	* x86-Installer sowie ProduktProperty "install_architecture" hinzugefügt
	* Verwendung uib_exitcode (local function)
	* Check Version (Paket <-> Installation)
	* Logo nach common.opsiinc, eigenes Logo möglich
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 30.07.2018

dfn_sumatra (3.1.2-2)
	* Desktop-icon Deinstallierung fixed
 -- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 18.07.2017

dfn_sumatra (3.1.2-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.08.2016

dfn_sumatra (3.1.1-1)
	* o4i-Logo
	* Feinarbeiten für Start DFN-Paket
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 14.06.2016

 dfn_sumatra (3.1.1-1)
	* Initiales DFN-Paket
-- Lukas Stapelbroek(archIT/KIT) <lukas.stapelbroek9@kit.edu>, 04.05.2016



























































































